################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WebApi/bin/Debug/net5.0
/WebApi/obj
/OthersAPI/bin/Debug/net5.0
/OthersAPI/obj
/OthersAPI.Tests/bin/Debug/net5.0
/OthersAPI.Tests/obj
/WebApi.IntegrationTests/bin/Debug/net5.0
/WebApi.IntegrationTests/obj
/WCFService/{E6C41C80-94E6-4D29-8768-8433582C0AB0}
